  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['Login']">
        <mat-icon>login</mat-icon>
        <span>Iniciar sesión</span>
      </button>
      <button mat-menu-item [routerLink]="['Formulario']">
        <mat-icon>app_registration</mat-icon>
        <span>Registrarse</span>
      </button>
      <button mat-menu-item [routerLink]="['Usuarios']">
        <mat-icon>user</mat-icon>
        <span>Usuarios</span>
      </button>
    </mat-menu>
    <span>Bienvenid{{nombre}}</span>
    <div class="divC">
      <button mat-icon-button class="shopping-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>    
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>