<mat-card class="card">
  <mat-card-content>
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSumbit()">
      <mat-label style="text-align: center; margin-bottom: 10px;">Registro</mat-label>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre" type="text" id="nombre" formControlName="nombre"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos" type="text" id="apellidos" formControlName="apellidos"/>
      </mat-form-field> 
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo" type="email" id="correo" formControlName="correo"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" type="password" id="password" formControlName="password"/>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefono" type="tel" id="telefono" formControlName="telefono"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Area Trabajo</mat-label>
        <mat-select id="area" formControlName = "area">
          <mat-option *ngFor="let area of areas" [value]="area.viewValue" >
            {{ area.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Ingreso" id="picker" formControlName = "pickerF"/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">Enviar</button>  
    </form>
  </mat-card-content>
</mat-card>

